@model CRUD3.SGR_PROVINCIAS

@{
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout-dialog.cshtml";
}
<h2>Detalles</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGR_REGIONES.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGR_REGIONES.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID_PROVINCIA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
